@use '../../styles/variables' as *;

 .filter-panel {
   display: flex;
   gap: 24px;
   align-items: center;
   justify-content: flex-end;
   width: 40%;
   padding-right: 32px;
   margin: 15px 0 0 auto;
   flex-wrap: wrap;
 }

@media (max-width: 1040px) {
  .filter-panel {
    gap: 12px;
  }
}


@media (max-width: $breakpoint-mobile) {
  .filter-panel {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0 0;
    align-items: flex-end;
  }
}
